PasswordAuthentication {{ bootstrap_ssh_password_authentication }}
PermitRootLogin {{ bootstrap_ssh_permit_root_login }}
PubkeyAuthentication {{ bootstrap_ssh_pubkey_authentication }}
KbdInteractiveAuthentication {{ bootstrap_ssh_kbd_interactive_authentication }}
ChallengeResponseAuthentication {{ bootstrap_ssh_challenge_response_authentication }}
UsePAM {{ bootstrap_ssh_use_pam }}
X11Forwarding {{ bootstrap_ssh_x11_forwarding }}
AllowAgentForwarding {{ bootstrap_ssh_allow_agent_forwarding }}
AllowTcpForwarding {{ bootstrap_ssh_allow_tcp_forwarding }}
ClientAliveInterval {{ bootstrap_ssh_client_alive_interval }}
ClientAliveCountMax {{ bootstrap_ssh_client_alive_count_max }}
